/* ########################################### */
/* Universal Selectors */
:root {
    --header: #27604f;
    --border: #ddaf95;
    --footer: #e7cec0;
    --text: #504846;
    --background: #fdf8f5;
}

/* ######################################## */
/* Element Selectors */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
    margin: 0px;
}

h1, h2, p {
    color: var(--text);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--header);
    border-bottom: 10px solid var(--border);
    display: flex;
    justify-content: end;
}

footer {
    background-color: var(--footer);
    border-top: 3px solid var(--border);
    padding-bottom: 20px;
    margin-top: 25px;
}

nav {
    margin: 20px;
}

a {
    text-decoration: none;
    color: var(--background);
    margin: 20px;
}

img {
    display: block;
    margin: 20px auto;
}

button {
    color: var(--background);
    background-color: var(--text);
    padding: 10px 30px;
    margin-bottom: 10px;
}

/* ############################################ */
/* Class Selectors */

.card {
    text-align: center;
    border: 3px solid var(--border);
    border-radius: 10px;
    width: 500px;
    margin: 15px auto;
}

.ogimage {
    text-decoration: underline;
    color: var(--header);
    margin: 0px;
}

.caption {
    width: 500px;
}