/* Universal Selector */
* {

}

/* Element Selector */

h1 {

}

header {
background-color: rgb(18, 92, 32);
border-bottom: 100px rgb(34, 24, 11);
position: relative;
top: 0px;
}

nav {

}

ul li {
display: inline-block;
margin: 25px;
line-height: 25px;
}

a {
color: white;
text-decoration: none;
}
figure {

}

section {
background-color: burlywood;
padding: 10px;
margin-bottom: 0px;
}

form {

}

footer {
background-color: black;
color: white;
padding: 5px;
margin-top: 0px;
line-height: 10px;
}

/* Class Selector */

.text-center {
text-align: center;
}

.text-right {
text-align: right;
}

/* ID Selector */