* {
    font-family: "Bitstream Charter", "URW Palladio L", Palatino;
}

h1,
h2 {
text-align: center;
}

body {

}

header {
    padding: 20px;
    background-color: darkgreen;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    padding-top: 15px;
    margin-right: 20px;
    position: relative;
    left: 1500px;
    font-size: 20px;
    color: bisque;
}

ul li {
    display: inline-block;
    margin-left: 25px;
}

#coming-soon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}